body {
    background-color: #e9ebee;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: flex-end;
}

.getnames {
    background-color: #fff;
    padding-right: 10px;
    width: 184px;
    height: 100vh;
}

#name {
    display: block;
    text-align: left;
}

.messages {
    height: 100vh;
}

.getmessage {
    display: flex;
}

.getmessage .messages {
    display: none;
}


.chats {
    width: 284px;
    margin: 0 10px;
    display: none;
    position: relative;
    height: 351px;
}

.chat-container {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background-color: #fff;
}

.chat {
    height: 260px;
    top: 43px;
    position: absolute;
    overflow-y: auto;
    left: 0;
    width: 100%;
    z-index: 15;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    padding: 5px 0;
}

.head {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    width: 89%;
    height: 43px;
    align-items: center;
    top: 0;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    cursor: pointer;
    z-index: 20;
    font-weight: bold;
    border-radius: 7px 7px 0 0;
}

.to {
    color: red;
    text-align: left;
    display: block;
    /* background: rgba(135, 206, 235, 0.5); */
    border-radius: 25px;
    padding-left: 15px;
    margin-top: 10px;
    width: 70%;
    float: left;
}

.from {
    color: blue;
    text-align: right;
    display: block;
    /* background-color: rgba(157, 0, 0, 0.5); */
    border-radius: 25px;
    padding-right: 15px;
    margin-top: 10px;
    width: 70%;
    float: right;
}

.nameto {
    margin-right: 10px;
    /* padding: 5px; */
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.65);
    height: 20px;
    width: 20px;
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.namefrom {
    margin-left: 10px;
    /* padding: 5px; */
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.65);
    height: 20px;
    width: 20px;
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.close {
    cursor: pointer;
    font-style: normal;
}

#inputs {

    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    border-radius: 0 0 7px 7px;
}

#inputs input {
    width: 80%;
    outline: none !important;
    border: none;
    box-shadow: none !important;
    height: 50px;
    padding: 0 15px;
}

#inputs button {
    width: 20%;
    outline: none !important;
    border: none;
    box-shadow: none !important;
    height: 50px;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
}

.add {

    width: 100%;
    color: black;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

.add span {
    margin-right: 10px;
    /* padding: 5px; */
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.65);
    height: 20px;
    width: 20px;
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.add p {
    margin: 0;
    text-align: left;
    padding: 10px 0;
    padding-left: 10px;
}

.add:hover p {
    background-color: #e9ebee;
}





.outscreen {
    animation: outscreen 0.5s ease forwards;
}

@keyframes outscreen {
    0% {
        bottom: 0;
    }

    100% {
        bottom: -310px;
    }
}

.inscreen {
    animation: inscreen 0.5s ease forwards;
}

@keyframes inscreen {
    0% {
        bottom: -310px;
    }

    100% {
        bottom: 0;
    }
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #e9ebee;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

.load {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.extra {
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: none;
    border-radius: 7px 7px 0 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.extra span {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
}

.extra .names {
    background-color: #fff;
    position: absolute;
    top: -50px;
    right: -160px;
    display: flex;
    width: auto;
    height: auto;
    padding: 15px;
}

.extra .names p {
    margin: 0;
    cursor: pointer;
}

.extra:hover .names {
    display: flex;
    flex-direction: column;
}

.extra:hover span {
    display: none;
}