<!DOCTYPE html>
<html>

<head>
  <title>Document</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">


  <script id="test" type="text/x-handlebars-template">
    <div class="messages messages_1">      
        {{#each names}}
          <div class="{{name}}" id="name"><a class="add"><p id="{{id}}"><span>{{firstchar}}</span>{{name}}</p></a></div>
        {{/each}}
    </div>

    {{#each chats}}
    <div class="chats {{id}}">
     <div class="chat-container inscreen" id="{{id}}">
       
        <div class="head"><span>{{name}}</span><i class="close fa fa-times"></i></div>
<div class="chat">
    
</div>
<div class="{{id}}" id="inputs">
  <input type="text" class="message" placeholder="Type Your Message">
  <button class="send"><i class="fa fa-paper-plane"></i></button>
</div>
     </div>
    </div>
    {{/each}}
          </script>
</head>

<body>
  <div class="container">
    <div class="getnames" id="getnames">
      <div class="load">
        <div class="lds-facebook">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="getmessage" id="getmessage">
    </div>
    <div class="extra">
      <i class="fa fa-comments"></i><span></span>
      <div class="names">

      </div>
    </div>
  </div>



  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/handlebars-v4.1.2.js"></script>
  <script src="js/jquery.nicescroll.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>